// Main application container on index.html
.app-container {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 2rem;
}

// Options page container
.options-container {
    background-color: var(--panel-bg-color);
    border-radius: 8px;
    box-shadow: 0 4px 15px var(--shadow-color);
    width: 100%;
    max-width: 600px;
    padding: 2rem 3rem;
}